PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=jbuksh_erp
DB_SYNC=false

JWT_SECRET=change_this_secret_in_production
JWT_EXPIRES_IN=7d

SUPER_ADMIN_PHONE=01844532895
SUPER_ADMIN_NAME=Super Admin
SUPER_ADMIN_PASSWORD=123456